/* app/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* El fondo base de la web es el gris claro/blanco de "Planes y Precios" */
  @apply bg-brand-gray-100 text-brand-text-dark;
}
